.top-btn {
    position: fixed;
    height: 2.2rem;
    width: 2.2rem;
    right: 2.2rem;
    bottom: 2.2rem;
    font-size: 1.5rem;
    text-align: center;
    border:1px solid var(--secound-bg-color);
    background-color: var(--main-color);
    color: var(--secound-bg-color);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1000; 
  }
  
  .top-btn:hover {
    background-color: var(--secound-bg-color);
    color: var(--main-color);
    border-color: var(--secounf-bg-color);
    transform: scale(1.1);
  }
  